{% if include.is_big %}
{% assign big = "download-buttons-big" %}
{% endif %}
<div class="include-download-buttons">
  <div class="{{ big }}">
    <div>
      <!--<a href="https://www.redbubble.com/people/illus0r/works/23943584-kruglendar-the-diary-poster?p=poster&finish=semi_gloss&size=medium" class="btn">Buy the printed Kruglendar {{ site.year }}</a>-->
    </div>
    <a href="/dist/kruglendar-{{ site.year }}.pdf" target="_blank" class="free">Download it for free and print on A1&nbsp;paper</a>
  </div>
</div>
