.btn{
  background: $color-blue;
  border: none;
  border-radius: 0;
  color: white;
  display: inline-block;
  font-family: $font-family;
  font-size: 1em;
  font-weight: normal;
  padding: 12px 30px 11px;
  text-decoration: none;
  &:active{
    background: lighten($color-blue, 5%);
  }
  &:hover{
    background: darken($color-blue, 5%);
    border-bottom: none;
    color: white;
  }
  &:visited{
    color: white;
  }
}
