<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ page.description | strip_html }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/bower_components/Likely/release/likely.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <meta property="og:image" content="http://kruglendar.ru/img/kruglendar-2017-preview.png" />
    <meta property="og:description" content="{{ page.description | strip_html }}" />
    <meta property="og:url"content="http://kruglendar.ru/" />
    <meta property="og:title" content="{{ page.title }}" />
  </head>

  {% if page.css_classes %}
    {% assign css_classes = page.css_classes | prepend: " class='page-" | append: "'" %}
  {% endif %}
  <body{{ css_classes }}>

    {% include header.html %}

    <div class="bg">
    </div>
    <div class="container">
      {{ content }}
    </div>

    <!--{% include fork-me.html %}-->


    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/Snap.svg/dist/snap.svg-min.js"></script>
    <script src="/bower_components/gsap/src/uncompressed/jquery.gsap.js"></script>
    <script src="/bower_components/gsap/src/uncompressed/TweenMax.js"></script>
    <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
    <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
    <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
    <script src="/js/init.js"></script>
    <script src="/bower_components/Likely/release/likely.js" type="text/javascript"></script>
  </body>

</html>
