<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ page.description | strip_html }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/bower_components/Likely/release/likely.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <meta property="og:image" content="http://kruglendar.ru/img/kruglendar-2017-preview.png" />
    <meta property="og:description" content="{{ page.description | strip_html }}" />
    <meta property="og:url"content="http://kruglendar.ru/" />
    <meta property="og:title" content="{{ page.title }}" />
  </head>

  {% if page.css_classes %}
    {% assign css_classes = page.css_classes | prepend: " class='page-" | append: "'" %}
  {% endif %}
  <body{{ css_classes }}>

    {% include header.html %}

    <div class="bg">
    </div>
    <div class="container">

			{% include ad.html %}
      {{ content }}
    </div>

    <!--{% include fork-me.html %}-->

		<script>
			document.addEventListener('DOMContentLoaded', function () {
				var currentDate = new Date();
				var currentYear = currentDate.getFullYear();
				var nextYear = currentDate.getMonth() >= 8 ? currentYear + 1 : currentYear;

				// Заменяем `YEAR_NUMBER` на текущий или следующий год в тексте страницы
				document.body.innerHTML = document.body.innerHTML.replace(/YEAR_NUMBER/g, nextYear);

				var links = document.querySelectorAll('a[href*="YEAR_NUMBER"]');
				links.forEach(function (link) {
					link.href = link.href.replace(/YEAR_NUMBER/g, nextYear);
				});
			});
		</script>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/Snap.svg/dist/snap.svg-min.js"></script>
    <script src="/bower_components/gsap/src/uncompressed/jquery.gsap.js"></script>
    <script src="/bower_components/gsap/src/uncompressed/TweenMax.js"></script>
    <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
    <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js"></script>
    <script src="/bower_components/scrollmagic/scrollmagic/uncompressed/plugins/debug.addIndicators.js"></script>
    <script src="/js/init.js"></script>
    <script src="/bower_components/Likely/release/likely.js" type="text/javascript"></script>
    <!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter27672810 = new Ya.Metrika({ id:27672810, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/27672810" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
  </body>

</html>
