body *{
  box-sizing: border-box;
}
.container{
  margin: 100px auto 0;
  width: $container-width;
  padding: 0 40px 0;
}
section{
  margin-top: 56px;
  &.half-width{
    width: 50%;
    h1{
      width: 200%;
    }
  }
}
