$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans: $font-family;
$font-family-condensed: $font-family;
$font-size: 18px;

$container-width: 800px;

$color-blue: #0195d5;
